@inject NavigationManager _navigationManager

<div tabindex="0" role="link" class="blog-card" @onclick="@OpenBlog">

    <h3>@Blog.Title</h3>
    <p>@Blog.PublishDate</p>

    <p>@Blog.Description</p>

    <div class="tag-container">
        @foreach (var tag in Blog.Tags)
        {
            <p class="tag">@tag</p>
        }
    </div>

</div>

@code {
    [Parameter]
    public BlogDto Blog { get; set; } = new();

    private void OpenBlog()
    {
        _navigationManager.NavigateTo(Blog.URL);
    }
}